<html>  
<head>  
<title>success</title>  
    <style>
        a{
            background-color: rgb(21, 134, 138);
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
            text-align: center;
            border: solid ;
            border-width: 5px;
        }
        .links{
            width: 200px;
            margin-left: 40%;
        }
    </style>
</head>  
<body>
    <div class="links">
        <a href="{{url_for('download_file_PC')}}">Download PC</a>
        <br>
        <a href="{{url_for('download_file_plasmalogen')}}">Download plasmalogen</a> 
        <br>
        <a href="{{url_for('download_file_LPC')}}">Download LPC</a> 
        <br>
        <a href="{{url_for('download_file_new')}}">Download New</a>
        <br>
        <a href="{{url_for('download_file_mean')}}">Download Mean</a> 
    </div>
</body>  
</html>